<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true" 
    convertNoticesToExceptions="true" convertWarningsToExceptions="true" 
    stopOnError="true" stopOnFailure="true" 
    stopOnIncomplete="false" stopOnSkipped="false" 
    bootstrap="tests/bootstrap.php"  
    strict="true" beStrictAboutTestsThatDoNotTestAnything="true">
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    
    
    <testsuites>
        <testsuite name="Tests">
           <directory suffix=".php">./tests</directory>
       </testsuite>
    </testsuites>
    
    <logging>
        <log type="coverage-html" target="metrics" title="alexbilbie/proton" charset="UTF-8" yui="true" highlight="true" lowUpperBound="60" highLowerBound="90"/>
    </logging>
</phpunit>
